  #toggle-button h2 {
      font-size: 18.7199993133545px;
      font-weight: bold;
      margin-bottom: 30px;
      margin-top: 50px;
 }
 #toggle-button .togglebutton label {
     margin: 20px 10px;
     width: 200px;
}
#toggle-button .togglebutton .toggle {
    float: right;
}
body {
    background-color: #fff;
}
.cal-wrap {
    margin: 0 auto;
    float: none;
    margin-top: 10%;
}
.t-calc {
    margin-left: 55px;
    font-weight: bold;
}
a.btn.btn-default.btn-raised {
  width: 50px;
  text-align: center;
  padding: 10px;
  margin-right: 4px;
}
.header {
	  display: inline-block;
}
small{
	display: inherit;
}
